{# 프로그램에 자리가 없는 초록 하나 (포스터 · 미편성). 변수: a (Abstract), show_conf #}
<div class="talk" data-abs-id="{{ a.id }}">
  <div class="talk-body">
    <a class="talk-title" href="{% url 'abstract_detail' a.conference.slug a.id %}">{{ a.title }}</a>
    <div class="talk-meta">
      {% if show_conf %}<span class="conf-tag" translate="no">{{ a.conference.short_name }}</span>{% endif %}
      {% if a.session and show_session %}<span class="badge" translate="no">{{ a.session.code }}</span>{% endif %}
      <span class="author" translate="no">{{ a.author_line|truncatewords:6 }}</span>
    </div>
  </div>
</div>
